<div class="container">
  <div class="row">
    <div class="col-md-8">
      <img class="img-responsive img-rounded" src="<%= @image_url %>" alt=""/>
    </div>
    <div class="col-md-4">
      <h1><%= @liveset.artist %> - <%= @liveset.title %> - <%= @liveset.date_aired %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="well text-center" style="background-color: black;">
        <a href="<%= @liveset.filepath %>">Download Set</a> -
        <a href="<%= @liveset.cuepath %>">Download Cue</a> -
        <a href="<%= @liveset.zippath %>">Download Split Zip</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-sm-8">
      <h2 class="heading">Tracklisting</h2>
      <% @liveset.tracks.order(track_number: :asc).each do |track| %>
        <p>
          <%= track.track_number %>. <a href="<%= track.filepath %>"> <%= track.artist %> - <%= track.title %></a>
        </p>
      <% end %>
    </div>
    <div class="col-lg-4 col-sm-4">
      <h2 class="heading">Artist Info</h2>
      <address>
        Facebook<br>
        Twitter<br>
        Soundcloud<br>
        Home Page<br>
      </address>
    </div>
  </div>
</div>
