<div class="container">
  <div class="row">
    <div class="col-md-8">
      <img class="img-responsive img-rounded" src="<%= @image_url %>" alt=""/>
    </div>
    <div class="col-md-4">
      <h1>
        <%= @liveset.artist %> - <%= @liveset.title %><%= puts " - #{@liveset.date_aired.to_s}" unless @liveset.date_aired.nil? %>
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="btn-group">
        <form class="download" action="<%= @liveset.filepath %>">
          <button type="submit" class="btn btn-default">Download Mix</button>
        </form>
        <% unless @liveset.zippath.nil? %>
          <form class="download" action="<%= @liveset.zippath %>">
            <button type="submit" class="btn btn-default">Download All Tracks Zipped</button>
          </form>
        <% end %>
        <% unless @liveset.cuepath.nil? %>
          <form class="download" action="<%= @liveset.cuepath %>">
            <button type="submit" class="btn btn-default">Download Cuesheet</button>
          </form>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-sm-8">
      <% unless @tracks.nil? || @tracks.empty? %>
        <h2>Tracklisting</h2>
        <% @tracks.each do |track| %>
          <p>
            <%= track.track_number %>. <a href="<%= track.filepath %>"> <%= track.artist %> - <%= track.title %></a>
          </p>
        <% end %>
      <% end %>
    </div>
    <div class="col-lg-4 col-sm-4">
      <h2>Artist Info</h2>
      <address>
        Website<br>
        SoundCloud<br>
        Facebook<br>
        Twitter<br>
      </address>
      <% unless @tweets.nil? || @tweets.empty? %>
        <h2>Latest Tweets</h2>
        <% @tweets.collect do |tweet| %>
          <h5><%= "@#{tweet.user.screen_name}: #{tweet.text}" %></h5>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
