<div class="container">
  <div class="row">
    <div class="col-md-8">
      <img class="img-responsive img-rounded" src="<%= @image_url %>" alt=""/>
    </div>
    <div class="col-md-4">
      <h1>
        <%= @liveset.artist %> - <%= @liveset.title %><%= puts " - #{@liveset.date_aired.to_s}" unless @liveset.date_aired.nil? %>
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="btn-group">
        <form class="download" action="<%= @liveset.filepath %>">
          <button type="submit" class="btn btn-default">Download Mix</button>
        </form>
        <form class="download" action="<%= @liveset.cuepath %>">
          <button type="submit" class="btn btn-default">Download Cuesheet</button>
        </form>
        <form class="download" action="<%= @liveset.zippath %>">
          <button type="submit" class="btn btn-default">Download Split Zip</button>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-sm-8">
      <h2>Tracklisting</h2>
      <% @liveset.tracks.order(track_number: :asc).each do |track| %>
        <p>
          <%= track.track_number %>. <a href="<%= track.filepath %>"> <%= track.artist %> - <%= track.title %></a>
        </p>
      <% end %>
    </div>
    <div class="col-lg-4 col-sm-4">
      <h2>Artist Info</h2>
      <address>
        Facebook<br>
        Twitter<br>
        Soundcloud<br>
        Home Page<br>
      </address>
    </div>
  </div>
</div>
