<div class="container">
  <div class="row">
    <div class="col-lg-8 col-sm-8">
      <h1>Search Results</h1>
        <% if @livesets.empty? %>
          <p>No results found. :( </p>
        <% else %>
          <% @livesets.each do |liveset| %>
            <p>
              <a href="liveset/<%= liveset.id %>">
              <%= liveset.artist %> - <%= liveset.title %><%= puts " - #{liveset.date_aired.to_s}" unless liveset.date_aired.nil? %></a>
            </p>
          <% end %>
          <%= will_paginate(@livesets, inner_window: 2) %>
        <% end %>
      </p>
    </div>
  </div>
</div>
